body{
    font-family: sans-serif;
    background-image: url(bg.jpg);
    font-weight:bold;
    opacity: 1.0;
    color: cyan;
}

.navbar{
    text-transform: uppercase;
}

.nav-link{
    background-color: lightblue;
}

.nav-link:hover{
    opacity: 1;
    background-color: blue;
}

header {
    margin-top: 100px;
    margin-left: 100px;
    height: 400px;
    width: 500px;
    background-size: cover;
    text-align: left;
    background-color: white;
}

button{
    margin-left: 100px;
}

.services i{
    font-size: 30px;
    padding:25px 20px;
    color:#fff;
    background-color:blue;
    width:80px;
    height:80px;
    border-radius: 50%;
}

.services span{
     width:200px;
     display: inline-block;
}

img{
    height: 200px;
    width: 200px;
}



p{
    margin-left:10px;
    margin-top:-5px;
}

.team img{
    border-radius: 50%;
    object-fit: cover;
}

section{
    text-align: center;
}

.title{
    font-size: 50px;
}

.contact i{
    padding-top: 10px;
    padding-right: 15px;
}

.contact button{
    width: 100px;
}

.contact button:hover{
    background-color: red;
}

.footer{
    padding: 10px;
}

