body{
    font-family: sans-serif;
    background-image: url(bg.jpg);
    font-weight:bold;
    opacity: 0.7;
    color: yellow;
}

.navbar{
    text-transform: uppercase;
}

.nav-link{
    background-color: lightblue;
}

.nav-link:hover{
    opacity: 1;
    background-color: blue;
}

header {
    margin-top: 100px;
    margin-left: 100px;
    height: 400px;
    width: 500px;
    background-size: cover;
    text-align: left;
    background-color: white;
}

h1{
    font-size: 72px;
}
p{
    font-size: 35px;
}
button{
    margin-left: 100px;
}

.services i{
    font-size: 30px;
    padding:25px 20px;
    color:#fff;
    background-color:blue;
    width:80px;
    height:80px;
    border-radius: 50%;
}

.services span{
     width:200px;
     display: inline-block;
}
